extends ../../layouts/page.pug

block title
  = t('views.statuses.index.title')

block content
  a.btn.btn-primary(href=route('statuses.new'))= t('views.statuses.index.new')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('statuses.fields.id')
          th= t('statuses.fields.name')
          th= t('statuses.fields.created_at')
          th= t('common.actions')
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-1(href=route('statuses.edit', { id: status.id }))= t('actions.edit')
                form(action=route('statuses.delete', { id: status.id }) method="post" class="mb-0")
                  input(name="_method" type="hidden" value="delete")
                  input.btn.btn-danger(type="submit" value=t('actions.delete'))
